/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'AzoSans Bold';
    src: url('../fonts/azosans/AzoSans-Bold.woff2') format('woff2'), url('../fonts/azosans/AzoSans-Bold.woff') format('woff'), url('../fonts/azosans/AzoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AzoSans Medium';
    src: url('../fonts/azosans/AzoSans-Medium.woff2') format('woff2'), url('../fonts/azosans/AzoSans-Medium.woff') format('woff'), url('../fonts/azosans/AzoSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'AzoSans Regular';
    src: url('../fonts/azosans/AzoSans-Regular.woff2') format('woff2'), url('../fonts/azosans/AzoSans-Regular.woff') format('woff'), url('../fonts/azosans/AzoSans-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #666;
    font-family: 'Azosans Regular', sans-serif;
}

h2 {
    font-size: 20px;
    margin-bottom: 12px;
}

p {
    margin-bottom: 8px;
}

.wrapper {
    width: 960px;
    margin: 50px auto 0;
    Height: 800px;
    position: relative;
}

.btn {
    color: #fff;
    background-color: #9A799A;
    height: 30px;
    text-align: center;
    padding: 0 12px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-appearance: none;
}

.header {
    position: relative;
    background-color: #9A799A;
    padding: 15px;
    height: 50px;
}

.header h1 {
    position: absolute;
    top: 25px;
    border: 1px solid #9A799A;
    padding: 14px 20px;
    background-color: #fff;
    border-radius: 0 23px 23px 23px;
    display: inline-block;
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.75);
}

.utility-wrap {
    padding: 15px;
    border-bottom: 1px solid #9A799A;
}

#try-modal {}

.header: after {
    content: "";
    display: block;
    clear: both;
}

.modal {
    position: absolute;
    top: 6%;
    left: 2%;
    width: 150px;
    height: 49px;
    color: #EEAEEE;
    font-weight: 600;
    background-color: #FDF8FF;
    border-radius: 0 24px 24px 24px;
    padding: 15px;
    text-align: center;
}

.wrapper-body {
    background-image: url("../bgd5.png");
    height: 75%;
}

.footer {
    background-color: #EEAEEE;
    height: 15%;
    text-align: right;
    padding: 20px;
    font-weight: 500;
}

.overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: relative;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
    width: 600px;
    height: 400px;
    z-index: 999;
    padding: 15px;
    background: #FDF8FF;
    transform: scale(0.7);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.modal-wrapper.active {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.modal-header {
    border-bottom: 1px solid #9A799A;
}

.modal-title {
    display: inline-block;
    padding: 0 10px 15px;
    font-size: 20px;
    margin-bottom: 0;
}

.modal-cross-icon {
    float: right;
    padding: 5px;
}

.modal-wrapper:after {
    content: "";
    display: block;
    clear: right;
}

.modal-body {
    height: 60%;
    padding: 10px;
}

.modal-footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    text-align: right;
    padding-top: 15px;
    padding-right: 5px;
    border-top: 1px solid #9A799A;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

.btn .fa {
    vertical-align: middle;
    padding: 3px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 88%;
    width: 94px;
    z-index: 9;
    min-width: 100%;
    list-style: none;
    background-color: #fff;
    border: 1px solid #9A799A;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #FDF8FF;
    font-size: 14px;
    text-align: left;
    padding: 7px;
    color: #9A799A;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-toggle-hover:hover + .hover-menu {
    display: block;
}

.hover-menu:hover {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #9A799A;
    color: #FDF8FF;
}


/*collapsible */

.collapsible-header {
    background-color: #9A799A;
    color: #fff;
    border-color: #ddd;
    padding: 10px;
    margin: 5px 5px 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

.collapsible-data {
    height: 0;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    border-radius: 0 0 5px 5px;
    margin: 0 5px 10px 5px;
    transition-property: height;
    transition: all 0.5s ease;
}

.collapsible-data p {
    padding: 10px;
}

.collapsible h1 {
    font-size: 20px;
    font-weight: 600;
}

.collapsible-data.active {
    height: 100px;
}


/*Navigational bars*/

.nav-bar > li {
    display: inline-block;
}

.nav-bar a {
    width: 124px;
    display: inline-block;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    color: #b1b1b1;
    transition: all 0.5s ease;
}

.nav-bar {
    margin: 30px 0 0px;
}

.nav-bar > li.active {
    background-color: #9A799A;
    color: #fff;
}

li.active > a {
    color: #fff;
}

a {
    text-decoration: none;
}

.tab-content div {
    display: none;
    padding-top: 50px;
}

a:hover {
    color: #9A799A;
}

.tab-content .active {
    display: block;
}